body {  
    background-color: green;
}

p { 
    font-family: "Arial";
    font-size: 16px;
    color: white;
    background-color: darkblue;
    margin: auto;
    padding: 10px;
}

img{
    width: 250px;
    height: 250px;
}

marquee{
    margin: auto;
    

}

h1{
    text-align: center;
    background-color: #FFCE1B;
    font-size: 30;
    color: white;
    font-family: "Arial";
    padding: 10px;
}
h2{
    
    background-color: #FFCE1B;
    font-size: 30;
    color: white;
    font-family: "Arial";
    padding: 5px;
}

br{
    background-color: green;
}